@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  background-color: #EEE2DC;
  color: black;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
#main_hero {
  height: 500px;
  display: flex;
  align-items: center;
}
.text-1 {
  font-size: 75px;
  line-height: 62px;
  padding: 1% 0 !important;
  padding-left: -3% !important;
}
.image_hero {
  width: 77%;
  border-radius: 60%;
}

/*                  ABOUT                 */
#about {
  min-height: calc(100vh - 116px);
}

.slider {
  width: 80%;
  height: 15px;
  border-radius: 34px;
  background-color: #BAB2B5;
}

.inner-slider {
  background-color: #123C69;
  height: 15px;
  border-radius: 34px;
}

/*                        PROJECTS                */

#projects {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  min-height: calc(100vh - 116px);
}

#projects h2 {
  color: #374054;
  margin-bottom: 50px 
}

.project {
  position: relative;
  max-width: 900px;
  margin: 0 auto 30px auto;
  overflow: hidden;
  background: #fff;
  border-radius: 4px 
}

.project-image {
  float: left;
  padding: 20px 10px;
}

.project-info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 300px;
  padding: 15px 
}

.project-info h3 {
  font-size: 1.5em;
  font-weight: 300;
  color: #374054;
  margin: 0 0 15px 0 
}

.project-info p {
  color: black;
  margin: 0 0 15px 0;
  font-size: 15px 
}

.no-image .project-info {
  position: relative;
  margin: 0;
  padding: 30px 15px;
  transform: none 
}

.project-skill-container {
  margin: 0 0 15px 0;
}

/*                        RESUME                */

#resume {
  padding: 50px 15px;
  border-bottom: 1px solid #dcd9d9;
  text-align: center;
  min-height: calc(100vh - 116px);
}

#resume h2 {
  color: #374054;
  margin-bottom: 50px 
}

/*                        CONTACT                */

#contact {
  /* padding: 50px 15px; */
  border-bottom: 1px solid #dcd9d9;
  min-height: calc(100vh - 116px);
}

#contact h2 {
  color: #374054;
  margin-bottom: 50px ;
  text-align: center;
}

#contact-form {
  background-color: #123C69;
  padding: 30px;
  height: 500px;
}

.form-group {
  width: 75%;
}

.contact-label, .error-text {
  color: #C1C8E4;
}


@media (min-width: 300px) and (max-width: 575px) {
  #main_hero {
    display: block !important;
    margin: auto !important;
    padding-top: 5% !important;
  }
  .main_hero {
    padding: 0 !important;
    text-align: center !important;
    width: 100%;
    margin: 0 !important;
    margin-top: 8% !important;
  }
  .text-1 {
    font-size: 45px !important;
  }
  .image_hero {
    display: block;
    margin: auto !important;
    margin-top: 15% !important;
    border-radius: 0;
    width: 60%;
  }
  #heading {
    font-size: 45px !important;
    margin-bottom: 8% !important;
  }
  hr {
    width: 37% !important;
    height: 13% !important;
  }
  #image_hero {
    width: 100%;
    margin-top: 5% !important;
  }
  #text_about {
    width: 100%;
    padding-top: 2% !important;
  }
  #stats_about {
    width: 100%;
    margin: 2% 7% !important;
    width: 90%;
  }
  .card {
    width: 100%;
    margin: 0 !important;
  }
  .icon {
    font-size: 70px !important;
  }
  .card-title {
    font-size: 26px !important;
  }
  .card-text {
    font-size: 20px !important;
  }
  #btn {
    width: 40%;
    font-size: 18px !important;
  }
  .btn {
    margin: 0 5% !important;
    font-size: 18px !important;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #main_hero {
    height: 400px !important;
  }
  .image_hero {
    width: 40% !important;
  }
  .main_hero {
    margin: 0 !important;
    padding: 0 3% !important;
  }
  .text-1 {
    font-size: 45px !important;
  }
  #heading {
    font-size: 55px !important;
    margin-bottom: 8% !important;
  }
  hr {
    width: 30% !important;
    height: 13% !important;
  }
  #image_hero {
    width: 100%;
    margin-top: 5% !important;
  }
  #text_about {
    width: 100%;
    padding-top: 2% !important;
  }
  #stats_about {
    width: 100%;
    margin: 2% 7% !important;
    width: 90%;
  }
  .icon {
    font-size: 70px !important;
  }
  #btn {
    width: 40%;
    font-size: 22px !important;
  }
  .btn {
    margin: 0 5% !important;
    font-size: 22px !important;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  #main_hero {
    height: 400px !important;
  }
  .text-1 {
    font-size: 55px !important;
  }
  #heading {
    font-size: 55px !important;
    margin-bottom: 8% !important;
  }
  hr {
    width: 30% !important;
    height: 13% !important;
  }
  .btn {
    margin: 0 5% !important;
    font-size: 18px !important;
    width: 100%;
  }
  #btn {
    width: 40%;
    font-size: 25px !important;
  }
}